<p>user-create works!</p>
<form [formGroup]="form" (ngSubmit)="submit($event)">



  <div class="form-container">
    <div class="form-fields">
      <!-- Tus campos aquí -->
      <div class="form-group ">
        <label for="names">Nombre</label>
        <input type="text" class="form-control" id="names" formControlName="names" placeholder="Ingrese su nombre">
        <div *ngIf="form.get('names')?.invalid && form.get('names')?.touched">
          El nombre es requerido
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Apellido paterno</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Ingrese su apellido paterno">
        <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
          El apellido paterno es requerido
        </div>
      </div>

      <div class="form-group">
        <label for="secondLastName">Apellido materno</label>
        <input type="text" class="form-control" id="secondLastName" formControlName="secondLastName" placeholder="Ingrese su apellido materno">
      </div>




      <!-- kkkk -->
    </div>
    <div class="form-image">
      <img [src]="imgURL" alt="Imagen seleccionada">
    </div>
  </div>







  <!-- <img [src]="imgURL" alt="Imagen seleccionada"> -->
  <!-- <div class="form-group ">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Ingrese su nombre">
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      El nombre es requerido
    </div>
  </div>

  <div class="form-group">
    <label for="apaterno">Apellido paterno</label>
    <input type="text" class="form-control" id="apaterno" formControlName="apaterno" placeholder="Ingrese su apellido paterno">
    <div *ngIf="form.get('apaterno')?.invalid && form.get('apaterno')?.touched">
      El apellido paterno es requerido
    </div>
  </div>

  <div class="form-group">
    <label for="secondLastName">Apellido materno</label>
    <input type="text" class="form-control" id="secondLastName" formControlName="secondLastName" placeholder="Ingrese su apellido materno">
  </div> -->

  <div class="form-group">
    <label for="roles">Rol</label>
    <select class="form-select" id="roles" formControlName="roles" aria-label="Seleccione el rol">
      <option value="" disabled>Seleccione el rol</option>
      <option value="1">Recepcionista</option>
      <option value="2">Administrador </option>
    </select>
    <div *ngIf="form.get('roles')?.invalid && form.get('roles')?.touched">
      El rol es requerido
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="name">Rol</label>
    <select class="form-select choosen" [(ngModel)]="selectedCar" formControlName="rol">
      <option value="volvo" selected>Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes" >Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </div> -->

  <div class="form-group">
    <label for="username">Correo electrónico</label>
    <input type="username" class="form-control" id="username" formControlName="username"  placeholder="Ingrese su correo electrónico">
    <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
      El correo electrónico es requerido
    </div>
    <div *ngIf="form.get('username')?.errors?.['username'] && form.get('username')?.touched">
      ingrese un correo electrónico válido
    </div>
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="text" class="form-control" id="password" formControlName="password" placeholder="Ingrese la contraseña">
    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      La contraseña es requerida
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirmar contraseña</label>
    <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Ingrese nuevamente su contraseña">
    <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
      La confirmación de la contraseña es requerida
    </div>
    <div *ngIf="form.get('password')?.value !== form.get('confirmPassword')?.value && form.get('confirmPassword')?.touched">
      Las contraseñas no coinciden
    </div>
  </div>

  <div *ngIf="updEditUser" class="form-group">
    <label for="creation">fecha de alta</label>
    <input type="text" class="form-control" id="creation" formControlName="creation" >
  </div>

  <!-- <div class="form-group">
    <label for="imgperfil">imagen de perfil</label>
    <input type="file" class="form-control" id="imgperfil" formControlName="imgperfil" placeholder="Sube tu imagen de perfil">
  </div> -->
  <div class="form-group">
    <label for="imgperfil">Imagen de perfil</label>
    <input type="file" class="form-control" id="imgperfil" formControlName="imgperfil" (change)="onFileChange($event)"  placeholder="Subir imagen de perfil">
    <div *ngIf="form.get('imgperfil')?.invalid && form.get('imgperfil')?.touched">
      la imagen es requerida
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
  <button type="button" class="btn btn-primary" [routerLink]="['/user-list']" (click)="showComponentUserlist = true">cancelar</button>
</form>
