



:host{
  /* background-color: #c1bab9; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btnregisterlogin{
  /* background-color: #1ab188; */
  background-color: #7c8288 ;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 200px ;
}

.btnregisterlogin:hover{
  /* background-color:#6ebba6; */
  background-color:#1aae87 ;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 200px ;
}

.btnregisterlogin:hover{
  background-color: #1aae87 ;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  width: 200px ;
}

.btnregisterlogin.selected {
  background-color: #1ab188;
}

.btnregisterlogin.selected:hover {
  background-color:#6ebba6;
}


.contenedor-formularios {
  /* border: 1px solid #ff0000; */
  background: #13232f;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(#24343c ,.3);
}
/*
.contenedor-formularios {
  border: 1px solid #ff0000;
  background: #13232f;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(#13232f,.3);
}

.contenedor-tabs {
  padding: 0;
  margin: 0 0 40px 0;
  border: 1px solid #ff0000;

}

button{


  border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
    font-size: 2rem;
    background: #1ab188;
    color: #fff;
    transition: all .5s ease;
}

button:hover{
  background: darken(#1ab188,5%);
  color: fff;
  border: none;

  border-radius: 4px;
  cursor: pointer;

}

button:active{
  background: #f92525;
  color: #13232f;
  border: none;

  border-radius: 4px;
  cursor: pointer;

}

 */
